
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */
    /* transition: all 0.1s ease; */
}

.container{
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type:  mandatory;
    

}
h1,h2,h3,h4,h5,h6{
    font-family: 'ZCOOL XiaoWei', sans-serif;
}
a{
    text-decoration: none;
    /* font-size: 0.7em; */
}
p{
    font-size: 0.9em;
}
button{
    font-size: 0.8em;
    border: none;
    cursor: pointer;
}
button:hover{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.164);
}
nav{
    z-index: 20;
    width: 100vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */
    font-size: 0.8em;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: white;
    position: fixed;
    padding: 0 8%;
    transition: all 0.5s ease;

}
.nadetssulogo{
    width: 30px;
    height: 30px;
}
.logo-caption{
    padding-left: 10px;
}
.nav-left{
    display: flex;
    align-items: center;
}
.nav-left p{
    font-size: 0.6em;
}
.nav-center ul{
    display: inline-block;
    list-style-type: none; 
    overflow: hidden;
}
.nav-center li{
    display: inline;
    padding-right: 15px;
}
.nav-center a{
    text-decoration: none;
    color: black; 
    font-size: 0.9em;
    /* transition: all 0.5s;  */
}
.nav-center a:hover{
    text-decoration: underline;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    

}
.nav-right{
    display: flex;
    align-items: center;
}
#menu-icon{
    display: none;
    font-size: 2em;
    width: 20px;
    height: 20px;
}
.join-us{
    background-color: #EDB941;
    color: white;
    padding: 6px 20px;
    border-radius: 30px;
}

#hero-section{
    width: 100vw;
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}
main{
    justify-content: center;
    flex-direction: column;
    /* position: absolute; */
    background-color: #03c5f12c;
    background-image: linear-gradient(180deg, #03c5f183 -64.17%, #2A5BDB 150%), url(../images/173.jpg);
    background-size: cover;
    /* transition: all 1s ease; */
}
main h1, main p{
    font-family: 'ZCOOL XiaoWei', sans-serif;
    font-size: 3em;
    color: white;
    font-weight: 100;
}
main p{
    font-size: 1.2em;
}
.join-middle{
    margin-top: 40px;
    background-color: white;
    padding: 7px 40px;
    border-radius: 30px;
    color: black;
}

.circle-1{
    width: 70px;
    height: 70px;
    background-color: #EDB941;
    border-radius: 50%;
    position: absolute;
    right: 8%;
    bottom: 10px;
}
.circle-2{
    width: 30px;
    height: 30px;
    background-color: #E846AB;
    border-radius: 50%;
    position: absolute;
    right: 30%;
    bottom: 20%;
}
#about-us-section{
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 5% 0;
    align-items: stretch;
    justify-content: start;
    justify-items: start;
    align-self: self-start;

}

.about-left{
    width: 200px;
    aspect-ratio: 1/1;
    /* background-color: red; */
    border-radius: 50%;
    display: flex;
    margin: auto;
}
#about-text{
    margin-right: 40px;
    overflow-y: hidden;
    text-align: justify;
    /* transition: max-height ease-in-out 500ms; */
}
#more{
    display: none;
    transition: all 2s ease-in-out;
}

/* #about-text{
    margin: 15px 0;
    margin-right: 40px;
    max-height: 30px;
    overflow-y: hidden;
     transition: max-height ease-in-out 500ms; 
}
.open-about-right{
    max-height: 10000000px;
    color: red;
    margin-bottom: 10px;
    padding-bottom: 10px;

} */

.sub-heading{
    font-family: 'ZCOOL XiaoWei', sans-serif;
    font-size: 1.4em;
    text-decoration: underline;
    /* padding-bottom: 5%; */
    color: rgba(0, 0, 0, 0.747);
    

}
.about-right h3{
    margin: 4% 0 0 0;
}
#read-more-btn,.excos-position, .full-gallery{
    background: linear-gradient(180deg, #0099FF -64.17%, #0970AE 150%);
    color: white;
    padding: 5px 20px;
    border-radius: 50px;
    margin: 15px 0;
}
.full-gallery{
    margin-left: 8%;
    margin-bottom: 8%;
}
#excos-section{
    padding: 5% 8%;
    background-color: #0099ff28;
}

/* .excos-container{
    display: grid;
    grid-template-rows: 1fr;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   overflow-x: scroll;
} */
.excos-position{
    font-size: 0.8em;
}
.excos-card{
    /* width: 20px; */
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.164);
    background-color: white;
    border-radius: 10px;
    margin-top: 2%;
    
}
.excos-card:hover{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.264);
}
.excos-img-caption{
    position: relative;
    top: 25%;
}
.excos-background{
    width: 100%;
    height: 40%;
    background-color: #007ecc;
    position: absolute;
    z-index: 1;
    border-radius: inherit;
}
.excos-img-container{
    width: 60%;
    border-radius: 10px;
    border: 3px solid #007ecc;
    height: 50%;
    position: relative;
    top: 20%;
    z-index: 2;
}
.icons-div{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 15px;
    top: 15px;
    z-index: 3;


}
.icons-div a{
    color: rgb(255, 255, 255);
}
.fa-square-whatsapp, .fa-envelope {
    font-size: 1.5em;
}

.excos-img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}
.excos-name{
    font-weight: bold;
    font-size: 1.05em;

}
.fa-square-whatsapp{
    margin-bottom: 5px;
    font-size: 1.8em;
}
.fa-square-whatsapp:hover .tool-tips-1{
    opacity: 1;
    transition: all 1s ease-in-out;
}

.tool-tips-1, .tool-tips-2{
    color: rgb(0, 0, 0);
    font-size: 0.5em;
    position: absolute;
    text-align: right;
    right: 20px;
    background-color: #183683;
    color: white;
    width: 100px;
    opacity: 0;
}
.tool-tips-1{
    top: 4px;
    z-index: 5;
}.tool-tips-2{
    bottom: 4px;
    z-index: 5;
}
.swiper-navBtn{
    color: #2A5BDB;
    transition: color 0.3s ease;
}
.swiper-button-next{
    right: 0;
}.swiper-button-prev{
    left: 0;
}
.swiper-navBtn:hover{
    color: #183683;
    cursor: pointer;
}
.swiper-navBtn::before, .swiper-navBtn::after{
    font-size: 30px;
}
#gallery-section{
    padding: 5% 8%;
    position: relative;

    /* margin-bottom: 100px; */
    
}
.gallery-card{
    margin-top: 2%;
    width: 400px;
    /* height: 250px; */
}
.gallery-img-container{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;

}
.gallery-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
/* .gallery-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    overflow-x: scroll;
    gap: 180px;    
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    gap: 10px;
} */
footer{
    background-color: #006caf;
    color: white;
    display: flex;
    grid-template-columns: 20% 80% ;
    align-items: center;
    /* justify-items: center; */
    justify-content: space-around;
    width: 100vw;
    padding: 4% 0;
}
footer a{
    color: white;
    text-decoration: underline;
    font-size: 0.7em;
}
footer li{
    list-style: none;
}
.logo-footer{
    aspect-ratio: 1/1;
    width: 100px;
}
.left-footer p{
    width: 200px;
}
footer p{
    font-size: 0.8em;
}
.icon-circle{
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* aspect-ratio: 1/1; */
    margin-right: 10px;
    
}
.footer-icons{
    color: #007ecc;
    display: flex;
    align-items: center;
    
}
.icon-circle a {
    color: #007ecc;
    font-size: 0.8em;
}
/* .footer-icons i{
    font-size: 0em;
} */
.footer-mail{
    font-size: 0.9em
}
#developer{
    font-size: 0.6em;
}
@media screen and (max-width: 1200px) {
    .about-left{
        width: 200px;
    }
    
}
@media screen and (max-width: 800px) {
    .about-left{
        width: 180px;
    }
    
}
@media screen and (max-width: 670px) {
    #excos-section{
        padding: 10% 8%;
        background-color: #0099ff28;
    }
    
    #about-us-section{
        display: grid;
        grid-template-columns: 100%;
        padding: 5% 5%;
        text-align: center;
        margin: auto;
    }
    #about-text {
        margin-right: 0;
    }
    footer p{
        font-size: 0.6em;
    }
    .right-footer a{
        font-size: 0.6em;
    }
    .icon-circle{
        background-color: white;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* aspect-ratio: 1/1; */
        margin-right: 10px;
        
    }
    .footer-icons{
        color: #183683;
        display: flex;
        align-items: center;
        
    }
    .icon-circle a {
        color: #183683;
        font-size: 0.6em;
    }
}

@media screen and (max-width: 675px) {

    nav{
        padding: 0 5%;
        /* justify-content: center; */

        
    }
    #menu-icon{
        display: block;
        padding-left: 10px;
        cursor: pointer;
    }
    .nav-center li{
        display: inline;
        padding-right: 5px;
        overflow: hidden;
    }
    .nav-center {
        position: absolute;
        top: 100%;
        right: -100%;
        z-index: 100;
        background-color: white;
        height: 20vh;
        display: flex;
        flex-direction: column;
        width: 100vw;
        text-align: center;
        align-items: end;
        padding-right: 20px;
        justify-content: space-around;
        transition: all 0.5s ease;  
        overflow: hidden;      
    }

   .open{
        right: 0px;
    }
    .swiper-navBtn{
        display: none;
    }
}
